- if admin?
  - tag = idea.uuid.split('-').first
  %button{onclick:"delete_idea_#{tag}()", style: "cursor: pointer"}
    %h4{style: "color:red;"} Delete this Idea

  :javascript
    function delete_idea_#{tag}() {
      if (confirm("Are you sure you want to delete #{idea.post.gsub("\n", " ")}")) {
        window.location = window.location.protocol+"//"+window.location.host+"/idea/#{idea.uuid}/destroy"
      }
    }