%head
  %title Innovo

%link{rel:"stylesheet", href:"/css/application.css"}
%h1#logo
  %a{href: '/', style: 'text-decoration: none; color: white;'} Innovo
#user
  = current_user&.email
%div{class:"container"}
  - if !login_or_idea?
    %a{href: '/idea/new', style: "text-decoration: none; color: white;"}
      %button{class: "btn"}
        + New Idea
  = yield
%footer
  %a{href:"mailto:aminali@degica.com?subject=[BUG]%20Encountered%20an%20issue%20with%20INNOVO", style: "float: right; opacity: 0.7; text-decoration: none; color: #aaa;"} Found a bug?