%h2= @idea.title

:css 
  .container{
    max-width: 80%;
    overflow-wrap: break-word;
  }

.item-desc
  %p{style: 'text-align: left'}=  @idea.desc
%span#up.big
%span#heart.big
%span#down.big

:javascript
  function sendVote(el) {
    prev_vote = document.querySelector('.voted');
    prev_vote && prev_vote.classList.remove('voted');
    el.target.classList.add('voted');

    var xhttp = new XMLHttpRequest();

    xhttp.onload = function() {
      if (xhttp.status >= 200 && xhttp.status < 400) {
      } else {
        prev_vote && prev_vote.classList.add('voted');
        el.target.classList.remove('voted');
      }
    };

    xhttp.open("POST", window.location.pathname+"/vote", true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.send("vote="+el.target.id+"&user=#{current_user.uuid}");
  }

  document.querySelectorAll('span.big').forEach(function(element) {
    element.addEventListener("click", sendVote);
  });

  old_vote = document.querySelector('##{@vote}');
  old_vote && old_vote.classList.add('voted')